element {
  --main-colour: #905655;
  --secoundary-colour: #f5e9ed;
  --complementing-colour: #7ea931;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: #905655;
  padding: 0 2%;
}
header h3 {
  color: #f5e9ed;
  font-size: 25px;
  padding: 0;
  margin: 15px 0;
}

a {
  color: #f5e9ed;
text-decoration: none;
}

a:not(:last-child) {
  margin-right: 12px;
}

a.active {
  color: #7ea931;
  font-size: 20px;
}

a:hover {
  color: #7ea931;
}

.home h1{
  position: absolute;
  color:#f5e9ed;
  display: flex;
  flex-direction: row;
  padding: 0 2%;
  margin-top: 2.5%;
}

.aboutmelink{
  font-size: 30px;
  position: absolute;
  color:#f5e9ed;
  display: flex;
  flex-direction: row;
  margin-top: 38%;
  margin-left: 87%;
}

.aboutmelink:hover {
  transition: font-size 1s;
  transition: margin-left 1s;
  font-size: 33px;
  margin-left: 86%;
}

.image{
  margin-bottom: 0;
  height: 92vh;
  background-image: url('https://dummyimage.com/1080%20x%20450/000/fff&text=Placeholder+for+headshot');
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 0;
  background: #f5e9ed;
  height: 100vh;
}

.brand h2 {
  font-size: 40px;
  margin-top: 0;
  color: #905655;
  padding-top: 2%;
  padding-left: 2%;
}

.statement {
  padding-left: 2%;
  margin-top:2vh;
  color: #905655;
  font-size: 20px;
  font-weight: 600;
  padding-right: 16vw;
}

.brand h3 {
  padding-left: 2%;
  margin-top: 5vh;
  margin-bottom: 2vh;
  color: #905655;
  font-size: 25px;
}

.link{
  padding-left: 2%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  color: #905655;
  font-size: 25px;
  margin-bottom: 1%;
}

.link:hover {
  color: #7ea931;
}

.foot{
  background: #905655;
  width: 100%;
  margin: 0 !important;
  padding: 0;
}

.foot{
  color: #f5e9ed;
  font-size: 20px;
}
.foot p{
  margin: 0;
}

.projectcard {
  padding: 1%;
  background: #f5e9ed;
  border:#905655 solid;
  border-radius: 1%;
  width: 30% !important;
  margin: 5%;
}

.card-img-top {
  border-radius: 1%;
}

.gallerybox {
  display: flex;
}

.Gbg {
  background: #ffffff;
}

.card-title {
  padding: 5% 0px 2% 0px;
  color: #905655;
}

.card-text {
min-height: 180px;
padding-bottom: 5%;
font-size: 20px;
}

.card-link {
color: #905655;
}
.card-link:hover{
  color: #7ea931;
}

.linkstorage{
  display: flex;
  font-size: 19px;
  justify-content: space-around;
}

.ContactTitle {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 1%;
  color: #905655;
}

.ContactTitle2 {
  font-size: 25px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #905655;
}

.groupb {
  padding: 0px 2%;
}

.list-group-item a {
  color: #905655;
}

.list-group-item a:hover {
  color: #7ea931;
}

.list-group-item p {
  padding: 0;
  margin: 0;
}

.contform {
  color: #905655;
  margin-top: 2%;
  padding: 0px 30% 0px 2%;
}

.btn {
  background-color: #905655;
  border-color: #905655;
  color: #f5e9ed;
}

.btn:hover {
  background: #7ea931;
  border-color: #7ea931;
}
